* {
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .invitacion {
  text-align: center;
  color: #89ac76;
  width: 100%;
  max-width: 500px;
  top: -1%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
body .invitacion .header .titulo {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  margin-top: 5rem;
}
body .mapa-container {
  position: relative;
  overflow: hidden;
  height: 200%;
}
body .mapa-container .map {
  position: absolute;
  top: 1%;
  transform: translateY(0%);
  width: 500%;
  display: flex;
  animation: moveWorld 600s linear infinite;
}
body .mapa-container .map img {
  width: 34%;
  height: 400px;
}
@keyframes moveWorld {
  from {
    transform: translateX(-270%);
  }
  to {
    transform: translateX(50%);
  }
}
body .mapa-container {
  position: absolute;
  width: 100%;
  top: -1%;
  z-index: -1;
}
body .mapa-container .ruta-vuelo {
  width: 100%;
}
body .mapa-container .ruta-vuelo img {
  width: 110%;
  height: 150px;
  position: absolute;
  left: -5%;
  top: 8%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .mapa-container .puntos-cardinales {
  width: 100px;
  height: 105px;
  animation: rotate 20s linear infinite;
  display: inline-block;
  position: absolute;
  top: 10%;
  right: -3%;
}
body .circulo {
  z-index: -3;
}
body .subtitulo {
  display: grid;
  position: absolute;
  bottom: -5%;
  width: 100%;
  gap: 2rem;
}
body .subtitulo p {
  font-size: 2rem;
  color: #89ac76;
}
body .subtitulo h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #89ac76;
  text-align: center;
}
body .segunda-seccion {
  position: absolute;
  bottom: -100%;
}
body .segunda-seccion .despues {
  width: 100%;
  top: 0%;
}
body .segunda-seccion .segundo-corazon {
  position: absolute;
  top: 2%;
  width: 100%;
  left: 0%;
}
body .segunda-seccion .prepara {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 15%;
}
body .segunda-seccion .sello {
  width: 25%;
  left: 0;
  bottom: -12%;
  position: absolute;
}
body .tercera-seccion {
  position: absolute;
  bottom: -190%;
}
body .tercera-seccion .boleto {
  width: 90%;
}
body .cuarta-seccion {
  position: absolute;
  bottom: -275%;
  width: 100%;
  height: 100vh;
}
body .cuarta-seccion .puntos-cardinales {
  top: 3%;
  z-index: 1;
}
body .cuarta-seccion .ubicacion {
  width: 32%;
  position: absolute;
  left: 33%;
  top: 25%;
}
body .cuarta-seccion .escala {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 2%;
}
body .cuarta-seccion .google-maps {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 40%;
  bottom: 7%;
}
body .cuarta-seccion .google-maps img {
  width: 100%;
}
body .quinta-seccion {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -360%;
}
body .quinta-seccion .viento {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 0;
  left: -8%;
}
body .quinta-seccion .mapa-container {
  top: 20%;
  z-index: -1;
}
body .quinta-seccion .mapa-container .puntos-cardinales {
  top: 3%;
  z-index: 1;
}
body .quinta-seccion .ubicacion {
  width: 32%;
  position: absolute;
  left: 33%;
  top: 45%;
}
body .quinta-seccion .destino {
  position: absolute;
  width: 78%;
  left: 11%;
  bottom: -17%;
}
body .quinta-seccion .google-maps {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 40%;
  bottom: -9%;
}
body .quinta-seccion .google-maps img {
  width: 100%;
}
body .sexta-seccion {
  position: absolute;
  bottom: -465%;
  width: 100%;
  height: 100vh;
}
body .sexta-seccion .viento {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 0;
  left: -8%;
}
body .sexta-seccion .viento-2 {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 15%;
  right: 0%;
}
body .sexta-seccion .mundo {
  position: absolute;
  width: 90%;
  top: 37%;
  left: 5%;
  z-index: -1;
}
body .septima-seccion {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: -550%;
  z-index: -1;
}
body .septima-seccion .asistencia {
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: -6;
}
body .septima-seccion .pasaporte {
  position: absolute;
  bottom: 60%;
  left: 37%;
  width: 25%;
}
body .septima-seccion .pasaporte img {
  width: 100%;
}
body .seccion-regalo {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: -580%;
  z-index: -1;
}
body .seccion-regalo .regalo {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 0;
}
body .seccion-regalo .caja-regalo {
  position: absolute;
  top: 45%;
  left: 37%;
  width: 25%;
  height: 25%;
}
body .seccion-regalo .caja-regalo img {
  width: 100%;
}
body .seccion-comida {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: -650%;
  z-index: -1;
}
body .seccion-comida .menu {
  width: 180%;
  position: absolute;
  left: -40%;
  top: 0%;
}
body .seccion-comida .vegano {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 170px;
  height: 15%;
}
body .seccion-comida .vegano img {
  width: 200%;
  position: absolute;
  left: 0;
}
body .seccion-comida .celiaco {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 170px;
  height: 15%;
}
body .seccion-comida .celiaco img {
  width: 200%;
  position: absolute;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
